@import 'base';

.button__add {
  background-color: #0D83FD;
  color: #FFF;
}

.button__delete {
  background-color: #FF453A;
  color: #FFF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 120px 40px;
}


.input-area {
  width: 560px;
  text-align: center;
  margin: 24px auto 40px auto;
}

.list-area {
  width: 100%;
  max-width: 560px;
  background-color: #FFF;
  border-radius: 16px;
  margin: 0 auto;
}

.completed >  * {
  opacity: 0.5;
}

.completed > p {
  text-decoration: line-through;
}
