@use 'base';

.button__add {
  background-color: #0D83FD;
  color: #FFF;
}

.button__delete,
.button__delete-confirm {
  background-color: #FF453A;
  color: #FFF;
  margin: 0;
}

.button__complete {
  margin: 0;
}

.button__cancel {
  margin-left: -24px; // 錯視を防ぐため
}

.buttons {
  display: flex;
  gap: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 40px;
}

.container {
  width: 100%;
  max-width: 1080px;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 24px 0 40px 0;
}

.task-selects {
  display: flex;
  justify-content: space-between;
}

.task-controls {
  display: flex;
  gap: 8px;
}

.sort-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  margin-bottom: 16px;
}

.list-area {
  width: 100%;
  max-width: 1080px;
  background-color: #FFF;
  border-radius: 16px;
  margin: 0 auto;
}

.task-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.completed >  * {
  opacity: 0.5;
}

.completed > p {
  text-decoration: line-through;
}

.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__content {
  position: relative;
  margin: auto;
  padding: 20px;
  background: #FFF;
  border-radius: 6px;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.popup__buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 40px 0 24px 0;
}

.hidden {
  display: none;
}
